body {
    background-image: url(/public/images/backgrounf.png);
    font-family: "Poppins", sans-serif;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

ul {
    list-style: none;
}

.card {
    background-color: #ffeef5bb;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.418);
    border-color: black
}

.text-p {
    color: #ff8fab
}

/* Navbar */
a.nav-link {
    font-family: "Poppins Black", sans-serif;
    font-weight: 600;
}

a.nav-link:hover {
    color: #f523c9;
    text-decoration: underline 3px;
}


.circle {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100vmax;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    position: absolute;
    width: 140px;
    height: 140px;
    background: url("/public/images/oh-sushi-logo-png_seeklogo-184474.png");
    background-size: cover;
    border-radius: 100vmax;
    background-position: center;
}

.text {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: poppins;
    color: #000;
    font-size: 15px;
    animation: textRotation 8s linear infinite;
}

@keyframes textRotation {
    to {
        transform: rotate(360deg);
    }
}

.text span {
    position: absolute;
    left: 50%;
    font-size: 1.2em;
    transform-origin: 0 100px;
}

.btn-custom {
    background: #ff00c8;
    color: white;
}

.btn-custom:hover {
    background: black;
    color: white;
}

/* Header */
.lead {
    color: #ff8fab;
}

h1 {
    font-size: 200px;
    font-family: "Ruslan Display", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 0.646;
    text-align: center;
    -webkit-text-stroke: 5px black;
    -webkit-text-fill-color: white;
    z-index: 222;
    position: relative;
    top: -30px;
}

.second-row p {
    font-family: "Poppins Black", sans-serif;
    color: white;
    font-size: 15px;
    letter-spacing: 2px
}


/* Header Menu */
.bg-header-menu {
    background-image: url(/public/images/bg-header-menu.png);
    background-size: cover;
}

.menu h1 {
    font-size: 100px;
    font-family: "Ruslan Display", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 0.646;
    text-align: center;
    -webkit-text-stroke: 5px black;
    -webkit-text-fill-color: white;
    position: relative;
    top: 30px

}

.p-custom {
    padding: 95px
}

.relative-custom {
    position: relative;
    top: 120px
}

.btn-pink {
    background-image: linear-gradient(135deg, rgb(245, 35, 201) 40%, rgb(255, 142, 172));
    color: white;
    font-family: "Ruslan Display", sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    padding: 5px 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.418)
}

.btn-pink:hover {
    background-image: linear-gradient(135deg, rgb(180, 24, 146) 40%, rgb(192, 108, 130));
}

.bg-stars {
    background-image: url(/public/images/left-stars.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: left;
}


.bg-design {
    background-image: url(/public/images/stars.png);
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: right;
}

.bg-design2 {
    background-image: url(/public/images/stars.png);
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.bg-out {
    background-image: url(/public/images/star-out.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: left;
}

.bg-out2 {
    background-image: url(/public/images/star-out.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: left;
}

/* Sushi */
h2 {
    font-size: 100px;
    font-family: "Ruslan Display", sans-serif;
    color: black;
    line-height: 0.646;

}

.sushi p {
    font-family: "Poppins Black", sans-serif;
    letter-spacing: -1px;
    color: #ff8fab
}

.btn-sushi {
    background-image: linear-gradient(135deg, rgb(245, 35, 201) 40%, rgb(255, 142, 172));
    color: white;
    font-family: "Ruslan Display", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding: 5px 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.267)
}

/* Banner */
.banner h3 {
    font-size: 75px;
    font-family: "Ruslan Display", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 0.646;
    text-align: center;
    -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: white;
}

.order h2 {
    font-size: 120px;
    font-family: "Ruslan Display", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 0.646;
    text-align: center;
    -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: white;
}

/* Menu */
.price {
    color: #f523c9;
    font-family: "Ruslan Display", sans-serif;
    font-size: 80px
}

.platter .lead p {
    font-family: "Poppins Black", sans-serif;
    letter-spacing: -1px;



}

.platter h3 {
    font-family: "Ruslan Display", sans-serif;
    font-size: 50px
}

.platter .lead {
    font-weight: 400;

}

/* Promo */
.promo h2 {
    font-size: 105px;
    font-family: "Ruslan Display", sans-serif;
    color: white;
    line-height: 1;
    text-align: center;
    -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: white;
}

.promo p {
    color: white
}


/* Footer */
.bg-footer {
    background-image: url(/public/images/starsbanner.png);
    color: white;
}

.footer h2 {
    font-size: 60px;
    font-family: "Ruslan Display", sans-serif;
    color: black;
    line-height: 1;
    text-align: center;
}

.footer h3 {
    font-size: 105px;
    font-family: "Ruslan Display", sans-serif;
    color: white;
    line-height: 1;

    -webkit-text-stroke: 2px #646464;
    -webkit-text-fill-color: white;
}

.footer .newsletter {
    padding: 40px;
    text-align: center;
}

.footer .newsletter input {
    border: 2px solid #ff00c8;
    padding: 10px;
    width: 50%;
    margin-right: 10px;
}

.footer .newsletter button {
    background: #ff00c8;
    border: none;
    color: white;
    padding: 10px 20px;
}

.social-icons {
    font-size: 2.5rem;

}

.newsletter-form input {
    border: 2px solid #ff00c8;
    padding: 12px;
    width: 50%;
    border-radius: 25px;
    font-size: 14px;
    outline: none;
}

.newsletter-form button {
    background: #ff00c8;
    border: none;
    color: white;
    padding: 12px 20px;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.newsletter-form button:hover {
    background: #d400a1;
}

.bg-pink {
    background-color: #ffeef5;
}

.bg-bg {
    background-image: url(/public/images/bg.png);

}


.footer {
    background-color: #000;
    color: white;
    padding: 40px 0;
}

.footer a {
    color: white;
    text-decoration: none;
    transition: all 1s;
}

.footer a:hover {
    color: #ff00c8;
    text-decoration: underline;
}

.social-icons a {
    color: white;
    font-size: 24px;
    margin: 0 10px;
}

.shadow-custom {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.459)
}
















/* Menu Page */
.text-order {
    font-size: 70px;
    font-family: "Ruslan Display", sans-serif;
    color: white;
    line-height: 1;
    text-align: center;
    -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: white;
}

.card-menu {
    font-size: 28px;
    font-family: "Ruslan Display", sans-serif;
    color: black;
    line-height: 1;
    text-align: center;
}

.price-menu {
    color: #f523c9;
    font-family: "Ruslan Display", sans-serif;
    font-size: 40px
}

.guide-lines h4 {
    font-size: 35px;
    font-family: "Ruslan Display", sans-serif;
    color: black;
    line-height: 1;
}

.form {
    background-color: #ffeef5bb;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.418);
    border-color: black
}